*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.headerlogo{
    color: #f9faf8;
    font-size: 24px;
}

.headerlinks{
    color: #e5e7eb;
    font-size: 18px;
}


ul,li{
    list-style: none;
    display: flex;
    gap: 16px;

}


.titlemain{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding: 0;
}

.bgheader{
    background-color: #1f2937;
}

.bttnlgup{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    padding: 5px 24px 5px 24px;
    border: none;
    font-size: 18px;

}

.imghero{
    height: auto;
    width: 300px;
}

#section1{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
    padding: 64px 16px 64px 16px;
    /*line-height: 26px */

}

#section2{
    text-align: center;
    background-color: #FFF;
    padding: 24px 24px 48px 24px;
}

.box1{
    height: 150px;
    width: 150px;
    border: dotted red 4px;
}
.box2{
    height: 150px;
    width: 150px;
    border: dotted magenta 4px;
}
.box3{
    height: 150px;
    width: 150px;
    border: dotted blue 4px;
}
.box4{
    height: 150px;
    width: 150px;
    border: dotted green 4px;
}

.boxcontainer{
    display: flex;
    gap: 24px;
    justify-content: center;
}

